.nav-bar {
    margin: 0 0 10px 0;
    padding: 20px 40px 20px 40px;
    background: var(--bg-secondary);
    color: var(--text-secondary);
    display: flex;
    justify-content: space-between;
}

.nav-bar .mark {
    color: #40461B;
    font-size: 18px;
    font-weight: 700;
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
