
.body-div {
    display: flex;
    margin-right: 197px;
    flex-direction: column;
}

.nav-bar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 150px;
    padding: 20px;
    background: var(--bg-primary);
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    border-left-style: dotted;
    border-left-width: 4px;
    border-left-color: var(--accent-primary);
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
