@page "/"
@using WatchTogether3.Data
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ApplicationDbContext DbContext

<PageTitle>List</PageTitle>

<p>Create room form:</p>
<form>
    <label for="roomName">Room Name:</label>
    <input type="text" id="roomName" name="roomName" @bind="roomName" />
    <br />
    <button type="button" @onclick="CreateRoom">Create Room</button>
</form>

@foreach (Data.Room room in DbContext.Rooms)
{
    <br/>
    <p>@room.Name</p>
    <button @onclick="() => GoToRoom(room.Name)">Join Room</button>
}

<script>
    
</script>

@code {
    private string roomName = string.Empty;

    private void CreateRoom()
    {
        DbContext.Rooms.Add(new Data.Room { Name = roomName });
        DbContext.SaveChanges();

        if (!string.IsNullOrWhiteSpace(roomName))
        {
            Navigation.NavigateTo($"/Room/{roomName}");
        }
    }

    private void GoToRoom(string name)
    {
        Navigation.NavigateTo($"/Room/{name}");
    }
}