    
.top .search-bar-div {
    margin: auto;
}

.rooms {
    margin-inline: 250px;
}

.rooms-block {
    width: 100%;
}

.block-top {
    display: flex;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #AFAFAF;
    padding-left: 20px;
    margin-bottom: 20px;
    height: 70px;
    text-align: center;
}

.rooms-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    gap: 50px;
}

/*-==================-*/

.room {
    width: 300px;
    position: relative;
}

.room .image {
    margin: auto;
    width: 300px;
    position: absolute;
/*This shit makes image centered somehow Ya hz kak*/
    inset: -9999px; 
}

.room .image-window {
    width: 300px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.room .image-blur {
    width: 300px;
    aspect-ratio: 16/9;
    border-radius: 10px;
    filter: blur(50px);
    scale: 1.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: 1s;
}

.room .img-shadow {
    background-color: transparent;
    box-shadow: 0px 142px 48px -82px rgba(0,0,0) inset;
    width: 300px;
    aspect-ratio: 16/9;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.room .room-footer {
    display: flex;
    justify-content: space-between;
}

.room .room-name {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.room .room-auth {
    margin: 10px;
}

.room .room-viewers {
    margin: 10px;
}

.room .no-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 24px;
    color: #606060;
    aspect-ratio: 16/9;
    background: #202020;
    width: 300px;
    box-shadow: 0px 142px 48px -82px rgba(0,0,0) inset;
}

.room .no-image-blur {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    color: #606060;
    aspect-ratio: 16/9;
    background: #202020;
    width: 300px;
    z-index: -1;
    filter: blur(50px);
    scale: 1.1;
    transition: 1s;
}


@keyframes floating-anim {
    0% {rotate: 0deg;}
    33% {rotate: 20deg;}
    66% {rotate: -20deg;}
    100% {rotate: 0deg;}
}

.room:hover .image-blur {
    scale: 0.7;   
}

.room:hover .no-image-blur {
    scale: 0.6;
}



.friends {
    position: absolute;
    top: 0;
    right: 20px;
    width: 180px;
}

.friends-list {

}

.friend-block {
    
}

.friend-block p {
    margin: 0;
}

.multi-button p {
    margin-block: 0;
    text-align: center;
    padding-top: -4px;
    padding-bottom: 4px;
    transition: 200ms;
    width: stretch;
}

.multi-button {
    padding: 0;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    background-color: transparent;
    box-shadow: 0px 0px 18px 9px rgba(131,0,61,0.63);
    transition: 200ms;
}

.multi-button .first {
    border-radius: 8px 0 0 8px;
}

.multi-button .first-unactive {
    border-radius: 8px 0 0 8px;
}

.multi-button .button-part {

}

.multi-button .button-part-unactive {
    color: #6F6F6F;
    cursor: default;
}

.multi-button .second {
    border-radius: 0 8px 8px 0;
}

.multi-button .separator {
    width: 1.8px;
    height: 15px;
    background-color: #AFAFAF;
}

.multi-button .button-part:hover{
    background: rgba(131,0,61,0.63);
}

.multi-button:has(.button-part:hover) {
    box-shadow: none;
}